.login{
  width: 330px;
  margin: 20px auto !important;
  height: 270px !important;
}

#username{
  width: 200px !important;
}

#password{
  width: 200px !important;
}

.dealer{
  color: #CFCFCF;
  margin:20px;
}

.button{
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  display: block;
  cursor: pointer;
  border: medium none;
  color: #EFEFEF;
  font-size: 12px;
  line-height: 18px;
  padding: 1px 16px 2px;
  margin: 10px 5px;
  /*text-shadow: 0px -1px 1px rgb(102, 102, 102);*/
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, rgb(55, 170, 234), rgb(17, 126, 210)) repeat scroll 0% 0% transparent;
  border: 1px solid rgb(76, 136, 188);
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

.button:hover{
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  color: #FFFFFF;
  background: linear-gradient(to bottom, rgb(17, 126, 210), rgb(12, 96, 153)) repeat scroll 0% 0% transparent;
  /*text-shadow: 0px 0px 1px #56493F;*/
  box-shadow: 0px 0px 3px rgba(12, 96, 153,0.5);
  border: 1px solid #0C6099;
}

.pagination{
  margin: 10px 5px;
}

.pagination a, .pagination strong {
  cursor: pointer;
  text-shadow: 0px -1px 1px rgb(102, 102, 102);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, rgb(55, 170, 234), rgb(17, 126, 210)) repeat scroll 0% 0% transparent;
  border: 1px solid rgb(76, 136, 188);
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 2px 5px;
  text-decoration: none;
  color: white;
  font-size: x-small;
  font-weight: bold;
}

.pagination strong, .pagination a:hover {
  color: #000;
  background-color: #4185F3;
  background: linear-gradient(to bottom, rgba(65, 133, 243,.5), rgba(65, 133, 243,.5)) repeat scroll 0% 0% transparent;
  text-shadow: 0px 0px 1px #56493F;
  box-shadow: 0px 0px 0px #FFFFFF;
}   

/*table.simple{
  width: 100%;
}

table.simple thead{
  font-size: 13px !important;
}

.table table, table.simple{
  background-color: #E3F8FC;
  font-size: 10px !important;
}

.table table tr th, 
table.simple tr th{
  background-color: #333;
  color: #F0F0F0;
}

.table table tr th, .table table tr td, 
table.simple tr th,table.simple tr td{
  padding: 3px 10px;
}

.table table tr:hover, table.simple tr:hover{
  background-color: #B5E5EF !important;
}

.table table tr.odd,
table.simple tr.odd{
  background-color: #DFDFDF;
}

.table table tr.even,
table.simple tr.even{
  background-color: #FEFEFE;
}

.table table tr td input[type="text"],
table.simple tr td input[type="text"]{
  background-color: rgba(255,255,255,0.5);
  width:150px;
  margin: 0px !important;
}

.table table tr td input,
table.simple tr td input{
  margin: 3px !important;
}*/

#form_utama .box, .form_std .box{
  float: left;
  margin: 10px;
}

.box{
  width: 350px;
  margin: 10px;
  float: left;
  border-radius: 7px;
  /*border: 1px solid #dedede;*/
  padding: 10px;
  background-color: #E8F5FF;
}

.box h2{
  font-size: large;
  color: #1B8AD8;
  border-bottom: 3px solid #1B8AD8;

}

.box_table{
  max-width: 500px;
  float: left;
  margin-right: 10px;
}

.panel_filter{
  background-color: rgba(0,0,0,.1);
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.panel_print{
  background-color: rgba(0,0,0,.1);
  border-radius: 7px;
  padding: 0px 10px;
  width: 500px;
  margin-right: 10px;
  float: right;
}

#list_receipts tr td input, #total_receipt input{
  margin: 0px;
  font-size: 20px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid rgb(204, 204, 204);
  width: 99% !important;
  border: none !important;
  background-color: transparent;
  pointer-events: none;
  cursor:default;
}

#total_receipt input{
  color: white;
}

#list_receipts tr td input:hover,#list_receipts tr td input:focus{
  outline: none;
  color: rgb(102, 102, 102);
  border: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

