@import url('nav_menu.css');
@import url('helper.css');
@import url('gray.css');
@import url('custome_case.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*  font: inherit;*/
    vertical-align: baseline;
}

body{
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: small;
  color: rgb(51, 51, 51);
}

a{
  text-decoration: none;
}

#viewport{
  height: 100%;
}
.header{
  width: 100%;
}
nav{
  height: 31px;
  /*border-bottom: 2px solid #777;*/
}

.ribbon{
  overflow: hidden;
  height: 50px;
}

.ribbon h1{
  font-size: x-large;
  margin: 10px 20px;
  width: 800px;
  float: left;
}

#main_content{
  height: 100%;
  overflow: auto;
}
#content{
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

footer{
  overflow: hidden;
  font-size: small;
  height: 35px;
}

footer > div{
  margin: 0 15px 0 15px;
}

footer ul li{
  font-style: italic;
  float: left;
  padding: 0px 7px;
  list-style-type: none;
}

footer ul.menu{
  font-style: normal;
  margin-top: 8px;
}
footer ul.menu li{
  font-style: normal;
}

footer ul li.end{
  border: none;
}

footer a.lapwing {
  margin-top: -5px;
  display: block;
  color: #FFFFFF;
  font-size: medium !important; 
}