label{
  display: inline-block;
  width: 100px;
  font-weight: bold;
  color: #0C6099;
}

input[type="text"], input[type="password"]{
  width: 200px;
  padding: 2 8px;
}

input[readonly=true]{
  border: none !important;
}

input, textarea, select{
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  border: 1px solid #C5DAE8;
  background-color: white;
  border-radius: 3px;
  margin: 10px 5px;
  padding: 2px 8px;
  font-size: 11px;
}

input:focus, input:active, textarea:focus, textarea:active {
  outline: medium none;
  color: rgb(102, 102, 102);
  border: 1px solid rgb(119, 186, 206);
  box-shadow: 0px 0px 2px #0C6099;
}
button:focus, input[type=submit]:focus,input[type=button]:focus, input[type=reset]:focus, button:active, input[type=submit]:active,input[type=reset]:active, input[type=button]:active{
  background: linear-gradient(to bottom, rgb(47, 144, 213), rgb(3, 81, 183)) repeat scroll 0% 0% transparent;
}

input:disabled{
  background:#dddddd;
}

button, input[type=submit],input[type=reset],input[type=button]{
    cursor: pointer;
    border: medium none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 18px;
    padding: 1px 16px 2px;
    text-shadow: 0px -1px 1px rgb(102, 102, 102);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, rgb(55, 170, 234), rgb(17, 126, 210)) repeat scroll 0% 0% transparent;
    border: 1px solid rgb(76, 136, 188);
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;

}

button:hover, input[type=submit]:hover,input[type=reset]:hover, input[type=button]:hover{
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #4185F3;
  text-shadow: 0px 0px 1px #56493F;
  box-shadow: 0px 0px 0px #FFFFFF;
}

.money{
  text-align: right;
}