@import url('form_element.css');
@import url('table_helper.css');
@import url('validation.css');

hr{
  border-color: #0C6099;
}

.ribbon{
  background: url('/webroot/imgs/474E56.png');
  background-color: #474E56;
}

.ribbon h1{
  color: #CFCFCF;
}

#main_content{
  background: url('/webroot/imgs/474E56.png');
  background-color: #474E56;
}
#content{
  background-color: white;
  border: 3px solid #434951;
  border-radius: 17px;
  box-shadow: 0px 2px 6px rgba(0,0,0,.3);

}

footer{
  background: url('/webroot/imgs/474E56.png');
  background-color: #474E56;
}

footer ul li{
  color: #AAAAAA; 
}

footer a{
  color: #AAAAAA;
}

footer a:hover{
  color: #A60000;
}

footer a.lapwing {
  color: #EFEFEF;
}

footer a.lapwing:hover {
  color: #FF0000;
}



