.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear: both;
}

.left-text{
  text-align: left !important;
}

.right-text{
  text-align: right !important;
}

.center-text{
  text-align: center !important;
}

.bold{
  font-weight: bold;
}

.w10{
  width: 10px !important;
}

.w20{
  width: 20px !important;
}

.w30{
  width: 30px !important;
}

.w40{
  width: 40px !important;
}

.w50{
  width: 50px !important;
}

.w100{
  width: 100px !important;
}

.w150{
  width: 150px !important;
}

.w200{
  width: 200px !important;
}

.w250{
  width: 250px !important;
}

.w300{
  width: 300px !important;
}

.w350{
  width: 350px !important;
}

.w400{
  width: 400px !important;
}

.w450{
  width: 450px !important;
}

.w500{
  width: 500px !important;
}

.w550{
  width: 550px !important;
}
