/*CSS FOR NOTIFICATION*/
.message{
    background-size: 40px 40px;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 50px 15px 15px 15px;
    position: fixed;
    top: -106px;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: 5s linear 0s normal none infinite animate-bg;
    -moz-animation: 5s linear 0s normal none infinite animate-bg;
    -webkit-animation: 5s animate-bg;
    -o-animation: 5s linear 0s normal none infinite animate-bg;
    z-index: 15;
    text-align: center;
    font-size: 13px;
}

.info{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.error{
    background-color: #de4343;
    border-color: #c43d3d;
}

.warning{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.success{
    background-color: #61b832;
    border-color: #55a12c;
}

.message h3{
    margin: 0 0 5px 0;
}

.message p{
    margin: 0;
}

@-moz-keyframes animate-bg {
    from {
    background-position: 0 0;
    }
    to {
    background-position: -80px 0;
    }
}
@-webkit-keyframes animate-bg {
    from {
    background-position: 0 0;
    }
    to {
    background-position: -80px 0;
    }
}
@-o-keyframes animate-bg {
    from {
    background-position: 0 0;
    }
    to {
    background-position: -80px 0;
    }
}
/*END OF CSS FOR NOTIFICATION*/
