body{
	color:#3D3127;
    /*background: url('../imgs/v1/pepper-grinder/ui-bg_fine-grain_10_eceadf_60x60.png');*/
    /*background: url('../imgs/v1/default3.jpg') no-repeat;*/
    background: url('../imgs/v1/60d8e8.png');
}

.gradient_left_hover:hover{
	/*height: 100%;*/
	/*padding-bottom: 38px;*/
	background-color: rgba(0, 0, 0,0);
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(13, 13, 13,0.8)), to(rgba(110, 110, 110,0.6)));
	background-image: -webkit-linear-gradient(left, rgba(13, 13, 13,0.8), rgba(110, 110, 110,0.6)); 
	background-image:    -moz-linear-gradient(0deg, rgba(13, 13, 13,0.8), rgba(110, 110, 110,0.6));
	background-image:     -ms-linear-gradient(left, rgba(13, 13, 13,0.8), rgba(110, 110, 110,0.6));
	background-image:      -o-linear-gradient(left, rgba(13, 13, 13,0.8), rgba(110, 110, 110,0.6));
}

.gradient_left{
	height: 100%;
	padding-bottom: 38px;
	background-color: rgba(0, 0, 0,0);
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0,0.8)), to(rgba(13, 13, 13,0.0)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0,0.8), rgba(13, 13, 13,0.0)); 
	background-image:    -moz-linear-gradient(0deg, rgba(0, 0, 0,0.8), rgba(13, 13, 13,0.0));
	background-image:     -ms-linear-gradient(left, rgba(0, 0, 0,0.8), rgba(13, 13, 13,0.0));
	background-image:      -o-linear-gradient(left, rgba(0, 0, 0,0.8), rgba(13, 13, 13,0.0));
}

.gradient_left_header{
	background-color: rgba(0, 0, 0,0);
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0,0.5)), to(rgba(13, 13, 13,0.1)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0,0.5), rgba(13, 13, 13,0.1)); 
	background-image:    -moz-linear-gradient(0deg, rgba(0, 0, 0,0.5), rgba(13, 13, 13,0.1));
	background-image:     -ms-linear-gradient(left, rgba(0, 0, 0,0.5), rgba(13, 13, 13,0.1));
	background-image:      -o-linear-gradient(left, rgba(0, 0, 0,0.5), rgba(13, 13, 13,0.1));
}

a{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	color:#a60000;
	/*text-shadow: 0px 0px 1px #cccccc;*/
}

a:hover{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	color: #1F3642;
}

.ui-autocomplete, .ui-menu, .ui-widget, .ui-widget-content, .ui-corner-all{
	transition: 0s;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	-o-transition: 0s;
}

.ui-autocomplete:hover, .ui-menu:hover, .ui-widget:hover, .ui-widget-content:hover, .ui-corner-all:hover{
	transition: 0s;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	-o-transition: 0s;
}

form a:hover{
	transition: 0s;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	-o-transition: 0s;
	/*color: #1F3642;*/
}

input, textarea, select{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	background-color: white;
}

input:focus, input:active, textarea:focus, textarea:active {
    outline: medium none;
    color: rgb(102, 102, 102);
    border: 1px solid rgb(119, 186, 206);
    box-shadow: 0px 2px 2px rgb(204, 204, 204) inset, 0px 0px 10px rgb(173, 220, 230);
    background-color: #EEF8FA;
}
button:focus, input[type=submit]:focus,input[type=button]:focus, input[type=reset]:focus, button:active, input[type=submit]:active,input[type=reset]:active, input[type=button]:active{
	background-color: #4185F3;
	text-shadow: 0px 0px 1px #56493F;
	box-shadow: 0px 0px 0px #FFFFFF;
}

input:disabled{
	background:#dddddd;
}

button, input[type=submit],input[type=reset],input[type=button]{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	background-color: rgb(181, 229, 239);
	border: 1px solid rgb(119, 186, 206);
	text-shadow: 0px 0px 2px #6D968D;
	color: rgb(8, 43, 51);
}

button:hover, input[type=submit]:hover,input[type=reset]:hover, input[type=button]:hover{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	background-color: #4185F3;
	text-shadow: 0px 0px 1px #56493F;
	box-shadow: 0px 0px 0px #FFFFFF;
}

header .ribbon{
	background: url('../imgs/v1/053c42.png');
	color: #CCCCCC;
	box-shadow: 1px 1px 5px #222;
}

header .ribbon:hover{
}

header .ribbon img{
}

header .ribbon h1{
	text-shadow: -1px -1px 0px #000000;
}	

header .ribbon .config{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	background-color: rgba(0,0,0,0);
}

header .ribbon .config:hover{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	background-color: #FFFFFF;
}

header .ribbon .menu{
	color: #332922;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 1px 1px 5px #000000;
}

header .ribbon .menu a{
	color: #333333;
	transition:0.3s;

}
header .ribbon .menu a:hover{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	color: white;
}

header .ribbon .menu ul{
}

header .ribbon .menu ul li, header .ribbon .menu ul li.separator{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

header .ribbon .menu ul li:hover{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	color: white;
	background-color: rgba(0,0,0,0.8);
}

header .ribbon .menu ul li.separator{
	border-bottom: 1px solid #A60000;
}

#content #header{
	color:white;
	background-color: rgba(0,0,0,0.3);
	border-bottom:2px solid rgba(255,255,255,0.3);
}

nav{
	background: rgba(0,0,0,0.4);
	border-right: 2px solid rgba(0, 0, 0, 0.3);
}

nav .title{
    border-bottom: 1px solid #666;
    /*background-color: rgba(0,0,0,0.4);*/
    color: #666;
}

nav #root{
/*	list-style: none;*/
}

nav #root li{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;}

nav #root li:hover{
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	background-color: rgba(50,50,50,1);
}

nav #root li a{
	color: #FFF;
}

nav #root li a:hover{
	color: white;
	text-shadow: 0px 0px 3px white;
}

.panel_filter{
	margin: 10px 20px;
}

#content{
}

#right-content{
}

#error{
	font-style: italic;
	color: red;
}

.box{
	width: 400px;
	float: left;
}

.box_table{
	max-width: 500px;
	float: left;
	margin-right: 10px;
}

.table table, table.simple{
	background-color: white;
	padding:5px;
	border: 3px solid #333;
}

.table table tr th, 
table.simple tr th{
	background-color: #333;
	color: #F0F0F0;
}

.table table tr th, .table table tr td, 
table.simple tr th,table.simple tr td{
	padding: 0px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.table table tr:hover, table.simple tr:hover{
	background-color: #B5E5EF !important;
}

.table table tr.odd,
table.simple tr.odd{
	background-color: #DFDFDF;
}

.table table tr.even,
table.simple tr.even{
	background-color: #FEFEFE;
}

.table table tr td input,
table.simple tr td input{
  background-color: rgba(255,255,255,0.5);
}

footer{
    text-shadow:0px 0px 0px black !important;
}

footer p{
    color: rgb(200, 200, 200);
    text-shadow:0px 0px 0px black !important;
}

footer a.lapwing {
    color: #a65555;
    text-shadow:0px 0px 0px black !important;
}

footer { 
	background: url('../imgs/v1/111111.png');
}