table.blue{
  width: 100%;
  background-color: #3576A5;
  font-size: 10px !important;
  border-collapse: collapse;
  border-spacing: 0;
  color: #4B5159;
  border-radius: 7px;
}

table.blue thead tr th{
  color: white;
  background-color: rgba(255,255,255,.1);
  /*border: 1px solid #CCCCCC;*/
  border-right: 1px solid #CCCCCC;
  font-size: 13px;
  padding: 5px;
}

table.blue thead tr th.end{
  border: none;
}

table.blue tbody tr.odd{
  background-color: rgba(255,255,255,1);
}

table.blue tbody tr.even{
  background-color: rgba(255,255,255,0.8);
}

table.blue tbody tr.no-data{
  background-color: rgba(255,255,255,1);
}

table.blue tbody tr.no-data td{
  font-size: 17px;
  text-align: center;
  padding: 20px 0 ;
}

table.blue tbody tr td, table.blue tbody tr th{
  font-size: 20px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #CCCCCC;
}

table.blue tbody tr td.end, table.blue tbody tr th.end{
  border: none;
}

table.blue tbody tr td input[type=button]{
  color: #FFFFFF;
}

table.blue tbody tr td input, table.blue tbody tr td select{
  margin:0px;
  border-radius: 3px;
  border: 1px solid #d0d0d0 !important; 
  background-color: rgba(255,255,255, 1);
  width: 100% !important;
  padding: 1px 2px !important;
  color: #4B5159;
}

table.blue tbody#total tr td,table.blue tfoot.total tr td{
  font-weight: bold;
  vertical-align: middle;
  background-color: rgba(255,255,255,.1);
  color: white;
  padding: 2px 5px;
  font-size: 20px;
}
