.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

@font-face {
    font-family: Vegur;
    src: url('../fonts/vegur/Vegur-R 0.602.otf');
}

@font-face {
    font-family: Vegur;
    src: url('../fonts/vegur/Vegur-B 0.602.otf');
    font-weight: bold;
}

body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding:0;
    font-size: 11px;
    margin:0px auto auto auto;
    min-height: 100%;
    height: auto;
}

* { margin:0; padding:0; } 

html, body, #content { height: 96%; }

body > #content {height: auto; min-height: 96%;}

#main { padding-bottom: 50px; }  /* must be same height as the footer */

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/

* html .clearfix { height: 1%;}
.clearfix {display: block;}

/*kerangka*/
body{
}

.gradient{
    height: 100%;
}

a{
    text-decoration: none;
}

a:hover{
}

/*.quick_search input[type="text"] {
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgb(187, 187, 187);
    height: 26px;
    width: 90%;
    color: rgb(204, 204, 204);
    box-shadow: 0px 2px 2px rgb(204, 204, 204) inset, 0px 1px 0px rgb(255, 255, 255);
    text-indent: 30px;
}*/

table{
    font-size: 11px;
}

input, textarea, select{
    padding: 2px 5px;
}

input:hover, input:active, textarea:hover, textarea:active{
}

button{
    border-radius: 5px;
    padding:5px 10px;
    border: none;
}

input[type=submit],input[type=reset],input[type=button]{
    border:none;
    padding:5px;
}

button:hover, input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover{
}

header .ribbon{
    z-index: 17;
    height: 32px;
    font-size:23px;
    width: 100%;
    position: fixed;
}

header .ribbon:hover{
}
header .ribbon img.logo{
    height: 32px;
    width: 32px;
    margin-top: 3px;
    margin-left:15px;
}

header .ribbon h1{
    font-size: 15px;
    margin: -25px 15px 0 15px;
    display: inline-block;
    vertical-align: middle;
}   

header .ribbon .logged_in{
    float: right;
    font-size: 15px;
    margin-top: 8px;
    margin-right:15px;
}

header .ribbon .config, 
header .ribbon .config a, 
header .ribbon .config img{
    height: 32px;
}

header .ribbon .config{
    z-index:20;
    float: right;
    width: 25px;
}

header .ribbon .config:hover{
}

header .ribbon .config a{
    position: absolute;
    top: 0px;
    right: 0px;
}


header .ribbon .menu{
    z-index:19;
    position: absolute;
    top: 32px;
    right: 0px;
    display: none;
    font-size: 14px;
}

header .ribbon .menu a{
    width: 200px;
    display: block;
    padding: 5px 30px 15px 20px;
    z-index:20;

}
header .ribbon .menu a:hover{
}

header .ribbon .menu ul{
    list-style-type: none;
}

header .ribbon .menu ul li, header .ribbon .menu ul li.separator{
    padding: 2px 0;
    width: 200px;
    height: 30px;
}

header .ribbon .menu ul li:hover{
    font-size: 15px;
}

header .ribbon .menu ul li.separator{
    border-bottom: 1px solid #A60000;
}

#content #header{
    padding-top:50px;
    height:20px; 
    width: 100%;
    /*position: absolute;*/
    position: fixed;
    display: block;
}

#content #header .content{
    position: absolute;
    top:20px;
    width: 100%;
}
#content #header .content h1{
    width: 40%;
    margin:10px 10px 10px 20px;
    color: rgba(255,255,255,0.8);
    text-shadow: 0px 0px 3px rgba(200,200,200,0.5);
}

#content #header .content .right{
    font-size: large;
    width: 400px;
    margin:12px 20px 10px 20px;
}

#content #header .content .right select{
    font-size: small;
    float: right;
    width: 300px;
}

#after_header{
    float: left;
}

nav{
    overflow-y: auto;
    overflow-x:hidden;
    position: fixed;
    top: 115px;
    width: 200px;
    /*min-height: 100%; */
    /*max-height: 100%; */
}

nav .title{
    padding: 10px 20px 0px 20px;
    font-size: 20px;
}

nav #root{
    list-style: none;
}

nav #root li{
    font-size: 12px;
    height: 25px;
}

nav #root li:hover{
}

nav #root li a{
    display: block;
    padding: 5px 20px;
}

nav #root li a:hover{
    font-size: 13px;
    width: 100%;
}

#content{
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

#right_side{
    position: absolute;
    height: 800px;
    top: 120px;
    left: 200px;
    float: right;
    margin: 20px;

}

#full_width{
    position: absolute;
    height: 800px;
    top: 133px;
    width: 100%;
    /*text-align: center;*/
    /*padding-top: 20px;*/
}

#right_side #main_content,#full_width #main_content{
    overflow: auto;
    height: 100%;
}

li.tab_pembelian{
    list-style-type: none; 
    width: 50px;
    padding: 5px 10px; 
    background-color: #DEDEDE;
    border-bottom: 2px solid #cccccc;
    transition: 0.3s;
}

li.tab_pembelian:hover{
    background-color: #FEFEFE;
    transition: 0.3s;
}

li.tab_pembelian a{
    font-size: 18px;
}

#full_width #main_content{
    /*padding:20px;    */
}

#main_content #form_utama, #main_content #box_utama{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding:20px;
}

#form_utama label, .form_std label{
    width: 120px;
    float: left;
}

.radio label{
    width: auto !important;
    margin: 3px 5px;
}

.radio input[type=radio]{
    float: left;
}

#form_utama input, #form_utama label, #form_utama select, .form_std input, .form_std select, .form_std textarea, .form_std label{
    margin: 3px 5px;
}

#form_utama input, .form_std input, #form_utama textarea, .form_std textarea{
    width: 200px;
}

#form_utama select, .form_std select, #form_utama input[type=submit], #form_utama input[type=button], .form_std input[type=submit], .form_std input[type=button]{
    width: 210px;
}


#form_utama .box, .form_std .box{
    width: 360px;
    float: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.input_alokasi{
    height: 100px;
}

#full_width form.login {
    width: 350px;
    margin: 50px auto !important;
    padding: 20px;
    /*border: 1px solid grey;*/
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
}

#recaptcha_widget_div{
    margin: 0 auto;
    width: 320px;
    
}

/*#full_width form.login:hover {
    transition: 1s;
    box-shadow: 0px 0px 100px #FFFFFF;
}*/

#full_width form.login label{
    width:100px;
    margin-right: 20px;
}

#full_width form.login input[type="text"], 
#full_width form.login input[type="password"]{
    padding:5px;
    margin: 10px;
    width: 200px;
    border:none;
}

#full_width form.login input[type="text"]:hover, 
#full_width form.login input[type="password"]:hover{
    /*border: 1px solid #5B807C;*/
    background-color: #E0F4FF;
}

#full_width form.login input[type="submit"]{
    width: 100%;
}

footer { 
    position: absolute;
   /* margin-top: 9px;  negative value of footer height */
   bottom:0px;
   width: 100%;
    height: 40px;
    clear:both;
} 

footer p{
    font-size: 12px;
}

footer a.lapwing {
    font-size: 15px;
}

/*autocomplete*/
.ui-autocomplete-loading {
    background: white url('/webroot/imgs/v1/ajax-loader-16.gif') right center no-repeat;
    width: 16px;
}
#city { width: 25em; }
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 300px;
}
/*end autocomplete*/